<div class="container">
  <div class="content">
    <h2>Register for The Ride</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
          <small *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
          <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']">Email is not valid.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" formControlName="phone">
        <div *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched)">
          <small *ngIf="registerForm.get('phone')?.errors?.['required']">Phone number is required.</small>
          <small *ngIf="registerForm.get('phone')?.errors?.['pattern']">Phone number must be a valid Nigerian number (+234XXXXXXXXXX)?.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</div>
